@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

@font-face {
                          font-family: "MicrosoftSansSerif";
                          src: url('../fonts/Microsoft Sans Serif.ttf') format("truetype");
                        }
                        
.tips {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255,255,255,0.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.tips .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 32px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 368px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : -4px;
  height              : 776px;
  width               : 989px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .group .rectangle {
  background-color    : rgba(255, 240, 103, 1.0);
  top                 : 168px;
  height              : 120px;
  box-sizing          : border-box;
  width               : 124px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 240, 103, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.42;
}
.tips .group .rectangle1 {
  background-color    : rgba(255, 240, 103, 1.0);
  top                 : 0px;
  height              : 776px;
  box-sizing          : border-box;
  width               : 869px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 241, 90, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 576px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb1 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb1 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb2 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb2 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 384px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb3 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb3 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 448px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb4 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb4 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 512px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb5 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb5 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .communicatiedoenwe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : auto;
  width               : 757px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
.tips .lightbulb6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb6 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .lightbulb6 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .buttonbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 688px;
  height              : 60px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 440px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .sluiten {
  background-color    : rgba(255,255,255,0.0);
  top                 : 702px;
  height              : auto;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 452px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MicrosoftSansSerif", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 16.0px;
}
.tips .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 32px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 938px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tips .herhaaldevraagnog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 201px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 265px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
.tips .formuleerdevraagi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 262px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 263px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
.tips .maakdevraagmeers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
.tips .maakjevraagmespe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 390px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
.tips .alshetgesprekeen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 454px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
.tips .helpjepartneromu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 517px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
.tips .alsupartnerreagee {
  background-color    : rgba(255,255,255,0.0);
  top                 : 575px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 19.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}