@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

@font-face {
                          font-family: "MicrosoftSansSerif";
                          src: url('../fonts/Microsoft Sans Serif.ttf') format("truetype");
                        }
                        
.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.zetdekleurbijdebijpassendepion5 {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.zetdekleurbijdebijpassendepion5 .navigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : -4px;
  height              : 832px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 832px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1600px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .group2 .rectangle3 {
  background-color    : rgba(255, 215, 0, 1.0);
  top                 : 0px;
  height              : 1585px;
  box-sizing          : border-box;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 215, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .group2 .rectangle11 {
  background-color    : rgba(255, 240, 103, 1.0);
  top                 : 0px;
  height              : 1600px;
  box-sizing          : border-box;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 241, 90, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .icon24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 483px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .icon24px .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .icon24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .profielen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 521px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.49px;
  line-height         : 21.0px;
}
.zetdekleurbijdebijpassendepion5 .navigation .instructies {
  background-color    : rgba(255,255,255,0.0);
  top                 : 399px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.49px;
  line-height         : 21.0px;
}
.zetdekleurbijdebijpassendepion5 .navigation .subject24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 361px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .subject24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .subject24px .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .instellingen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 634px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.49px;
  line-height         : 21.0px;
}
.zetdekleurbijdebijpassendepion5 .navigation .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 596px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .hoofdpagina {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MicrosoftSansSerif", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.49px;
  line-height         : 18.0px;
}
.zetdekleurbijdebijpassendepion5 .navigation .home24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .home24px .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 17px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .home24px .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .tips {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : auto;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.49px;
  line-height         : 21.0px;
}
.zetdekleurbijdebijpassendepion5 .navigation .lightbulb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .lightbulb .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .lightbulb .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .lightbulb1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .lightbulb1 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 3px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .lightbulb1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .navigation .babbelbord {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.99;
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : center;
  letter-spacing      : -0.21px;
  line-height         : 19.0px;
}
.zetdekleurbijdebijpassendepion5 .navigation .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 324px;
  height              : 124px;
  box-sizing          : border-box;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.zetdekleurbijdebijpassendepion5 .navigation .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 80px;
  height              : 124px;
  box-sizing          : border-box;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.zetdekleurbijdebijpassendepion5 .navigation .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 124px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.zetdekleurbijdebijpassendepion5 .icondonefilled {
  background-color    : rgba(255,255,255,0.0);
  top                 : 367px;
  height              : 11px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 562px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .icondonefilled .icondonefilled1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 90px;
  width               : 743px;
  position            : absolute;
  margin              : 0;
  left                : 195px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 3px;
  width               : 639px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedselected2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedselected2 .cardselementssurfaceoutlinedselected {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 70px;
  width               : 70px;
  position            : relative;
  margin              : 0;
  left                : -3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedselected2 .cardselementssurfaceoutlinedselected .cardselementssurfaceoutlinedselected1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 84px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed .cardselementssurfaceoutlinedpressed3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 84px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .chesspawn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 25px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 210px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .chesspawn .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 520px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed2 .cardselementssurfaceoutlinedpressed3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 84px;
  width               : 84px;
  position            : relative;
  margin              : 0;
  left                : -10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed2 .cardselementssurfaceoutlinedpressed3 .cardselementssurfaceoutlinedpressed4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 84px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 669px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed21 .cardselementssurfaceoutlinedpressed3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 84px;
  width               : 84px;
  position            : relative;
  margin              : 0;
  left                : -10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed21 .cardselementssurfaceoutlinedpressed3 .cardselementssurfaceoutlinedpressed4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 84px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 84px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 349px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .cardselementssurfaceoutlinedpressed1 .cardselementssurfaceoutlinedpressed3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 84px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.zetdekleurbijdebijpassendepion5 .group .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .questionanswer24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 379px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .questionanswer24px .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .questionanswer24px .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .footballwarningcardinarefereehand {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 43px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 542px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .footballwarningcardinarefereehand .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 42px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .footballwarningcardinarefereehand .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 0px;
  width               : 0px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .footballwarningcardinarefereehand .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 0px;
  width               : 0px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .footballwarningcardinarefereehand .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group .footballwarningcardinarefereehand .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 8px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .sync24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 885px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .sync24px .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 22px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .sync24px .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .dialogssurface {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : 432px;
  width               : 807px;
  position            : absolute;
  margin              : 0;
  left                : 175px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .dialogssurface .dialogssurface1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 432px;
  width               : 807px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .paul {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 521px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : center;
  letter-spacing      : 1.13px;
  line-height         : 28.0px;
}
.zetdekleurbijdebijpassendepion5 .zetdepionnaarde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 291px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 322px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MicrosoftSansSerif", Helvetica, Arial, serif;
  font-size           : 34.67px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 39.0px;
}
.zetdekleurbijdebijpassendepion5 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 428px;
  height              : 47px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 519px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.zetdekleurbijdebijpassendepion5 .group1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 47px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}